=breadcrumb_tag do
  %li.active
    =t('app.calendar_of_the_championships.new-button')
  %li
    = link_to t('headers.calendar_of_the_championships.index'), calendar_of_the_championships_path
  %li
    Редактирование
%h1=t('headers.calendar_of_the_championships.new')

= render 'form'

= link_to 'Назад', calendar_of_the_championships_path, class: "btn btn-primary"
