<div class = "col-md-4 col-sm-6 col-xs-8">
<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>Имя</th>
<th>Пол</th>
<th>Возраст</th>
</tr>
</thead>
<tbody>
<tr>
<td>Аня</td>
<td>Ж</td>
<td>20</td>
</tr>
<tr>
<td>Ваня</td>
<td>М</td>
<td>18</td>
</tr>
<tr>
<td>Баба люба</td>
<td>Ж</td>
<td>75</td>
</tr>
<tr>
<td>Дядя Вася</td>
<td>М</td>
<td>70</td>
</tr>
</tbody>
</table>

<div class = "col-md-4 col-sm-6 col-xs-8">
<table class="table">
<caption>Количество дней в январе</caption>
<tbody>
<tr>
<td>1 </td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td>28</td>
<td>29</td>
<td>30</td>
<td>31</td>
</tr>
</tbody>
</table>
</div>
