#mytb
  background-color: pink
  width: 100%
  border: 1px solid #399
  border-spacing: 7px 5px

#my_td
  border: 1px solid #333
  padding: 5px

//
// #content1 {
//     position:relative;
//     z-index:1;
//     float:left;
//     padding:1.5em 2%;
//     width:61%;
//     }
// #sidebar1 {
//     position:relative;
//     z-index:1;
//     float:right;
//     padding:1.5em 2%;
//     width:31%;
//     background-color:#e9e9e9;
//     color:inherit;
//     }
